#page-body {
	background: {
		image: image-url('masking-background-1200.png'), image-url('pressing-on-red-1200.jpg');
		repeat: repeat-x, no-repeat;
		attachment: fixed, fixed;
		position: center 120px, center 120px;
		size: contain, contain;
	}
}