body {
	background: {
		image: image-url('masking-background.png'), image-url('pressing-on-red.jpg');
		repeat: repeat-x, no-repeat;
		attachment: fixed, fixed;
		position: center 120px, center 120px;
		size: contain, contain;
	}
}

#header {
	height: 120px;
	width: 100%;
	background: {
		color: $headerBackground;
	}
}

#body {
	width: 100%;
	background: {
		color: $colorWhite;
	}
}

#footer {
	position: absolute;
	width: 100%;
	height: 120px;
	bottom: 0;
	background: {
		color: $footerBackground;
	}
}

@import "header";