<div class="self">
	<p><span class="start-of-the-line">I</span> have been in the front end dev business for almost 9 years now. It's crazy how I got here because I had my sight
	set on graphic design when I was in high school. I got enrolled into a digital media art beginner class and became
	obsessed with using information to create art and the tools we use in the class ranging from circuit board to
	programming to digital media manipulation. One thing lead to another, I am doing Flash Actionscript when I graduate
	from college.</p>

	<p><span class="start-of-the-line">I</span> got a job at Zipzoomfly, an ecommerce company that sells computer components and electronics, as a content
	developer. I personally believe the reason I got the job is because I mentioned that I play World of Warcraft during
	the interview and the boss plays as well. It was a good starter job. I get to do a lot of stuff, getting better at
	doing front end stuff, html/css, not a lot of javascript yet but was able to create a Flash project that helps
	customers configure laptop for purchase.</p>

	<p><span class="start-of-the-line">F</span>ast forward, I joined a startup hoping for some stock option and get rich quick. It didn't work out the way I
	thought it would be but I learned a lot from the company and formed a great bound with my boss. I
	learned PHP, javascript, SEO and some advanced film editing skills. Great experience while it lasted. I've got
	nothing but gratitude for everybody I've worked with at Brightstorm.</p>

	<p><span class="start-of-the-line">T</span>he next step in my career is with SolutionSet. It was an agency, life is fast there, multiple clients and
		projects at all times. I get to work with Apple, Nike, SAP, Genetech, TiVo and a whole lot of other big name
	companies. It was fun and exciting, everyday is a new day. I loved it except the timesheet part. Then things starts
	to happen when a company starts to get big. Merge happened and then acquisition. We become a big multi-billion
		dollar corporation. Everything seems to be the same, yet it is feels like a stranger to me. It's time.</p>

	<p><span class="start-of-the-line">R</span>ecommind is my longest employer. I had my doubts when I first joined but slowly falling in love with the people
	I work with. The company is mediocre, the management is chaotic and there are more VPs than regular low level work
		bees. The people though, they have spirits and they are relentless. And the view from the 650 California St
		office, it puts a big smile on my face everyday. I had a great mentor here, even if he doesn't admit it. I
	am very grateful that I get to work with him. Then, company got acquired again, but this time, my position is
	eliminated. I felt bad because it's first time I got laid off. I was okay when I walked into the office to be
	notified of the news. Then before I left the office, it starts to hit me. After 15+ years, ever since age 19, I am
	jobless. :(</p>

	<p><span class="start-of-the-line">A</span>nd today, I am updating my personal portfolio, I am trying to come up with something in the Contact page. I
		thought to myself, I am going to write about my 9 years. This give me a closure for getting laid off. So if you
	saw my resume and found my website and you are hiring. Using the contact info below.</p>
</div>
<div class="contact-info">
	<label>Email:</label>
	<a href="mailto:danielzzhu@gmail.com">danielzzhu@gmail.com</a>
	<lable>Phone:</lable>
	<a href="tel:510-915-2851">510-915-2851</a>
</div>