<iframe src="https://docs.google.com/document/d/1bjArKG0kgTLshd5kK3qhwPr7adKSZOYRzik9mBhwqdQ/pub?embedded=true"></iframe>
<a href="/data/daniel.zhu.resume.pdf" class="pdf icon" title="Icons made by Freepik from www.flaticon.com is licensed by CC 3.0 BY"></a>